li {
    font-family: 'Montserrat';
    color: white;
    font-size: clamp(20px, 2vw, 23px);
    padding: 15px;
}

.li-header {
    font-family: 'Montserrat';
    color: white;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 0.5vh;
    font-size: clamp(20px, 2vw, 23px);
}

.checklist {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.checklist-container {
    height: 393px;

    @media (max-width: 850px) {
        display: none;
    }
}